---
Language: Cpp
BasedOnStyle: Chromium
IncludeBlocks: Regroup
IncludeCategories:
  # Standard library headers come before anything else
  - Regex: '^<[a-z_]+>'
    Priority: -1
  - Regex: '^<.+\.h(pp)?>'
    Priority: 1
  - Regex: '^<.*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
SpacesInContainerLiterals: false
...
